@import url(//db.onlinewebfonts.com/c/6e0077559d53bdf2875eb217c4bf6982?family=Babbel+Milliard);
*{
  box-sizing: border-box;
}
.App {
  height: 100vh;
  font-size: calc(5px + 2vmin);
  font-family: 'Babbel Milliard', sans-serif;
}
.landingPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
#logo{
  color: #FF790E;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}
.topOfPage{
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 4.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#signInAndSignUpBtn button{
  width: 8rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #0B2E43;
  border-radius: 0.3rem;
  font-weight: 800;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms;
}
#signInAndSignUpBtn{
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
}
#signInAndSignUpBtn button#signUp:hover{
  background-color: white;
  color: #0B2E43;
}

#signInAndSignUpBtn button#signUp, #signInAndSignUpBtn button:hover {
  background-color: #0B2E43;
  color: white;
}
.bottomOfPage{
  padding: 1.5rem;
  background-color: #0B2E43;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.leftIntroPage button{
  height: 3rem;
  width: 12rem;
  border-radius: 0.4rem;
  border: none;
  background-color: fff;
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;



}
.leftIntroPage button img {
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}
.leftBottomOfPage, .rightBottomOfPage{
    flex: 1 1 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightImg{
  width: clamp(20rem, 100%, 30rem);
}
.leftIntroPage{
}

.leftIntroPage h2{
  color: rgb(255, 250, 197);
  font-size:3rem;
  width: 100%;
}
.languageButtons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.loginPage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm{
  background-color: white;
  width: clamp(20rem, 100%, 30rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 3rem;
  border-radius: 1rem;
}

.loginForm input{
  padding: 0.6rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 0.3rem;

}

.loginForm input:focus {
  outline: solid 2px #FF790E;
}
.loginForm input[type="email"], .loginForm input[type="password"]{
  border-bottom: #FF790E 2px solid;
  background-color: transparent;
}
.loginForm input[type="button"]{
  background-color: #FF790E;
  color: white;
  font-weight: 600;
}
.loginForm .loginHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: grey;
}

.newUserReg{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  color: #FF790E;
}
.alreadyAccount{
  font-size: 0.9rem;
  color: #FF790E;
  margin-bottom: 0.5rem;
}
.alreadyAccount span{
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: all 200ms;
}

.newUserReg span{
  cursor: pointer;
  color: #0B2E43;
  transition: all 200ms;
}
.newUserReg span:hover, .alreadyAccount span:hover {
  color: #FF790E;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.radio-group label {
  display: inline-block;
  padding: 2rem 4rem;
  flex-shrink: 1;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group input[type="radio"]:checked+label {
  background-color: red;
}

.languageSelection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.languageSelection button {
  margin-top: 2rem;
  background-color: #FF790E;
  color: #f0f0f0;
  border: none;
  padding: 1rem 9rem;
  font-weight: 800;
  font-size: larger;
  cursor: pointer;
  border-radius: 4px;
}
.languageSelection h2{
  color: bisque;
}

.registerForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerForm h2{
  color: bisque;
}

.registerForm form{
  display: flex;
  flex-direction: column;
  width: clamp(15rem, 80%, 40rem);
  padding: 4rem 2rem;
  background-color: #fff;
  gap: 1rem;
  border-radius: 0.8rem;
}
.registerForm form input{
  padding: 1rem;
  border: none;
  border-bottom: #FF790E 2px solid;
  background-color: transparent;
  border-radius: 0.8rem;
}

.registerForm form input:focus{
  outline: solid 2px #FF790E;
}
.registerForm form input[type = "button"]{
  background-color: #FF790E;
  font-size: large;
  font-weight: 800;
  color: #fff;
}
.navigator button{
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  background-color: transparent;
  color: #0B2E43;
  cursor: pointer;
}
.navigator button.active{
  background-color: #0B2E43;
  color: #fff;
  border-radius: 0.8rem;
      transition: background-color 1s;
}

.searchUser{
  position: relative;
  padding: 0.5rem;
  flex: 1;
  border: 1px;
  background-color: #fff;
  margin-left: 3rem;
}
.searchUser::after, .searchUser::before{
  content: "aaa";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #0B2E43;
  border-radius: 4px;
}

.profImg{
  width: 2rem;
  height: 2rem;
  background-color: #0B2E43;
  border-radius: 50%;
  border: solid 2px #FF790E;
}
.profi{
  font-size: 0.8rem;
}
.profileIllus{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

}
.homeAdiheader{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
}
.homeBody {
  margin-top: 4.5rem;
  padding: 1.5rem;
  height: 100%;


}

.homePage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigator {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.displayPanel{
  padding-top: 2rem;
  height: 100%;
}
.timeline{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.postsPanel{
  flex: 6 1 auto;
}
.suggestedFriends{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #CBD5E1;
}
.friendList{
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#eachSuggestedFriend{
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--neutral-300, #CBD5E1);
  background: var(--white, #FFF);
  
    /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  
}
.suggestedFriendLanguageAndLevel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#suggestedLanguage, #suggestedLevel{
  font-size: 0.8rem;
  color: #FF790E;
}
#suggestedFriendName{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#suggestedFriendName button{
  color: #0B2E43;
  border: none;
  font-weight: 800;
  cursor: pointer;
  background-color: transparent;
}
.postSomething{
  width: 100%;
}
.postSomething textarea{
  width: 100%;
}








@media screen and (max-width: 768px){
  .leftIntroPage{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .leftIntroPage h2 {
    color: rgb(255, 250, 197);
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .suggestedFriends{
    display: none;
  }
}